<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.min.css" rel="stylesheet">
</head>

<body>

  <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="home.php">
                    <img src="/images/logo.png" width="77" height="59"></img>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/projects">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/stories">Estórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/tests">Casos de Teste</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="/user/edit" class="nav-link border border-light rounded waves-effect">
                                <i class="fa fa-user"></i>Editar conta
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link border border-light rounded waves-effect">
                                <i class="fa fa-sign-out"></i>Sair
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Cards-->
            <section class="pt-4">

                <!-- Heading & Description -->
                <div class="wow fadeIn">
                    <!--Section heading-->
                    <h2 class='h1 text-center mb-5'>Olá, <%= user.name %></h2>
                </div>
                <!-- Heading & Description -->

                    <div>
                        
                        <!--Card-->
                        <div class="card">
                            
                            <div class="card-header">
                                Bem vindo ao BDD-TM!
                            </div>
    
                            <!--Card content-->
                            <div class="card-body">
                                
                                <div class="row">
                                    <p class="text-center">
                                        O BDD é um acrônimo para Behavior Driven Development, que é traduzido como Desenvolvimento Guiado a Comportamento e TM é um acrônimo para Test Management, que significa Gerenciamento de Testes. O BDD auxilia na criação de testes e integração de regras de negócios com a linguagem de programação, focando no comportamento do software.
                                        <br>
                                        O objetivo do BDD-TM é formatar a escrita de casos de testes já na semântica do BDD, assim, auxiliando o analista de testes com a planejamento e estruturação dos testes de seu projeto. 
                                    </p>
                                </div>
    
                                <!-- Row-->
                                <div class="row">
    
                                    <!--Column-->
                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#add_new_project_modal" >NOVO PROJETO</a>
                                        </div>
                                    </div>
                                    <!--Column-->
    
                                    <!--Column-->
                                    <div class="col-md-3 offset-md-1">
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#add_new_story_modal" > NOVA ESTÓRIA</a>
                                        </div>
                                    </div>
                                    <!--Column-->
                                    
                                    <!--Column-->
                                    <div class="col-md-3 offset-md-1" >
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#add_new_test_modal" >NOVO CASO DE TESTE</a>
                                        </div>
                                    </div>
                                    <!--Column-->
    
                                </div>
                                <!-- /.Row-->
    
                            </div>
    
                        </div>
                        <!--/.Card-->
                    </div>

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Cards-->

        </div>
        <br>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small orange pt-4">
    
        <!--Copyright-->
        <div class="footer-copyright text-center py-3">
            <div class="container-fluid">
                 Henrique Grasso e Helen Silva - 2018<br>
                 Template: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    
    </footer>
    <!--/.Footer-->
    
    <!-- Bootstrap Modals -->
    <!-- Modal - Add New Project -->
    <div class="modal fade" id="add_new_project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Novo Projeto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form action="/projects" method="post">
                    <div class="modal-body">
                    <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Modal -->
    
    <!-- Modal - Add New Story -->
    <div class="modal fade" id="add_new_story_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nova Estória</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <form action="/stories" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="description">Projeto</label>
                                <select class="form-control" id="select_story_projects" name="idproject">
                                    <option>Selecione...</option>	
                                </select>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" name="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- // Modal -->

    <!-- Modal - Add New Test -->
    <div class="modal fade" id="add_new_test_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Novo Caso de Teste</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form action="/tests" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Projeto</label>
                            <select class="form-control" name="idproject" id="select_test_projects" onchange="FetchStories(this.value)">
                                <option>Selecione...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Estória</label>
                            <select class="form-control" name="idstory" id="select_stories"></select>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="description">Dado</label>
                            <textarea class="form-control" id="text_given" name="text_given" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Quando</label>
                            <textarea class="form-control" id="text_when" name="text_when" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Então</label>
                            <textarea class="form-control" id="text_then" name="text_then" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Modal -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    
    <script type="text/javascript" src="js/src/tests.js"></script>
    
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>

</html>